body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--parrafos);
  background-color: var(--negro);
  color: var(--blanco);
  overflow-x: hidden;
}

.header {
  min-block-size: 100vh;

  &-figure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-block-size: 68px;
    margin: 3em 2rem 0;

    &__img {
      object-fit: cover;
    }

    &__figcaption {
      min-block-size: 50px;
      max-inline-size: 1676px;
      line-height: 50px;
      text-align: right;
      font-size: var(--step-0);
    }
  }

  &-contenedor {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    min-block-size: inherit;
    inline-size: 100%;

    .hgrup {
      min-inline-size: 50%;
      text-align: center;

      &__h1 {
        font-size: var(--step-5);
      }

      &__h3 {
        font-size: var(--step-1);
      }
    }

    &-img {
      &__img {
        block-size: 20rem;
        inline-size: 20rem;
        background-color: red;
        border-radius: 50%;
      }
    }
  }
}

.section {
  min-block-size: 940px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;

    &__h2 {
      margin-right: 1.2rem;
      font-size: var(--step-0);
    }

    &__img {
      block-size: 1.5rem;
      inline-size: 1.5rem;
    }
  }
}

.cuerpo {
  position: relative;
  min-block-size: 940px;

  .picture {
    &__img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      inline-size: 100%;
      block-size: 100%;
      z-index: -1;
    }
  }

  .contenedor-sobre-mi {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .sobre-mi {
      --negro: rgb(7 7 7 / 57.5%);

      position: relative;
      display: flex;
      place-items: center;
      max-inline-size: 720px;
      min-block-size: 482px;
      text-align: center;
      background-color: var(--negro);

      &__p {
        padding: 1em;
        line-height: 35px;
      }
    }
  }

  .contendor-enlace {
    min-inline-size: 720px;
    text-align: center;
  }
}

.enlace {
  --negro: rgb(7 7 7 / 77.4%);

  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: var(--step-0);
  padding: 2em 3em;
  color: var(--blanco);
  background-color: var(--negro);

  & span {
    position: absolute;
    display: block;
    background-color: red;
  }

  &__top {
    top: 0;
    right: 0;
    inline-size: 100%;
    block-size: 2px;
    background: linear-gradient(90deg, transparent, var(--pupura-saturado));
    transform: translateX(-101%);
  }

  &__right {
    top: 0;
    right: 0;
    inline-size: 2px;
    block-size: 100%;
    background: linear-gradient(90deg, transparent, var(--pupura-saturado));
    transform: translateY(-100%);
  }

  &__bottom {
    left: 0;
    bottom: 0;
    inline-size: 100%;
    block-size: 2px;
    background: linear-gradient(90deg, transparent, var(--pupura-saturado));
    transform: translateX(101%);
  }

  &__left {
    top: 0;
    left: 0;
    inline-size: 2px;
    block-size: 100%;
    background: linear-gradient(90deg, transparent, var(--pupura-saturado));
    transform: translateY(101%);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--pupura-saturado);
      box-shadow:
        0 0 10px var(--pupura-saturado),
        0 0 40px var(--pupura-saturado),
        0 0 80px var(--pupura-saturado);
      transition: all 1s 0.8s;
    }

    &:hover &__top {
      transform: translateX(100%);
      transition: transform 0.5s ease-out;
    }

    &:hover &__right {
      transform: translateY(100%);
      transition: transform 0.5s 0.3s ease-out;
    }

    &:hover &__bottom {
      transform: translateX(-111%);
      transition: transform 0.5s 0.5s ease-out;
    }

    &:hover &__left {
      transform: translateY(-134%);
      transition: transform 0.5s  0.7s ease-out;
    }
  }

  &.active-enlace {
    background-color: var(--pupura-saturado);
    box-shadow:
      0 0 10px var(--pupura-saturado),
      0 0 40px var(--pupura-saturado),
      0 0 80px var(--pupura-saturado);
  }
}

.bordes {
  position: absolute;
  block-size: 5px;
  transform: translate(-4px, -4px);
  background:
    linear-gradient(
      60deg,
      var(--verde-fosforesente),
      var(--azul),
      var(--pupura-saturado),
      var(--rosa),
      var(--naranja),
      var(--amarillo)
    ) 0 50%;
  background-size: 300% 300%;
  animation: grandiante 2.5s alternate infinite;
  z-index: -1;

  @keyframes grandiante {
    50% {
      background-position: 100% 50%;
    }
  }
}

.top,
.left,
.right,
.bottom {
  z-index: 1;
}

.top,
.left,
.right {
  top: 0;
}

.top {
  inline-size: 100%;
}

.left {
  left: 0;
  block-size: 100%;
  inline-size: 6px;
}

.right {
  right: -3px;
  block-size: 100%;
  inline-size: 6px;
}

.bottom {
  bottom: -3px;
  inline-size: 100%;
}

.section-exp {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.cotenedor-experiecia-tiempo {
  position: relative;
  min-inline-size: 100%;
  block-size: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__linea {
    position: absolute;
    background-color: var(--purpura);
    inline-size: 100%;
    block-size: 100%;
    border-radius: 10px;
    box-shadow:
      0 0 4px var(--purpura),
      0 0  5px var(--purpura),
      0 0  5px var(--purpura);
    transform: translateX(-100%);
    transition: transform 1s  ease-out;

    &.linea-2020-active {
      transform: translateX(-77%);
    }

    &.linea-2021-active {
      transform: translateX(-51%);
    }

    &.linea-2022-active {
      transform: translateX(0%);
    }
  }

  &__btn {
    block-size: 5rem;
    inline-size: 5rem;
    border: 2px solid var(--azul);
    color: var(--blanco);
    background-color: var(--negro);
    border-radius: 50%;
    z-index: 1;
    font-family: var(--parrafo);
    transition: background-color 1s ease-in-out;

    @media (hover: hover) {
      &:hover {
        background-color: var(--azul);
      }
    }
  }
}

.anio-2020,
.anio-2021,
.anio-2022 {
  position: absolute;
  right: 0;
  display: flex;
  place-items: center;
  padding: 1em;
  border: 1px solid var(--bordo);
  text-align: center;
  max-inline-size: 562px;
  min-block-size: 166px;
}

.anio-2020,
.anio-2021 {
  top: 12%;
}

.anio-2020 {
  left: calc(48vw - 17em);
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform  2s ease-in;

  &.anio-2020-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
}

.anio-2021 {
  left: calc(63vw - 26em);
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform  2s ease-in;

  &.anio-2021-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
}

.anio-2022 {
  bottom: 12%;
  left: calc(51vw - 19em);
  opacity: 0;
  visibility: hidden;
  transform: translateY(62%);
  transition: all 2s ease-in;

  &.anio-2022-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}

.flex {
  display: flex;
}

.contenedor-habilidades {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 822px;

  .contenedor-habilidad {
    position: absolute;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all  1s ease-out;

    &.contenedor-habi-active {
      opacity: 1;
      visibility: visible;
    }

    &__img {
      object-fit: cover;
    }

    &__h3 {
      font-size: var(--step-0);
    }
  }
}

.contenedor-cirlulo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 822px;
  background-color: blue;

  .pre-contenedor-circulo {
    block-size: 100%;
    inline-size: 100%;
    background-color: grey;
  }

  .circulo-habilidades {
    block-size: 100%;
    inline-size: 100%;
    background-color: red;
    clip-path: circle(40.5% at 85% 49%);
  }
}

/* .contenedor-boton {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  inline-size: 100%;
  z-index: 5;
}

.hamburgers {
  inline-size: 70px;7
  block-size: 70px;
  border-radius: 50%;
  background-color: var(--negro);
  border: 3px solid var(--azul);
  transform: translateY(0);
  transition: transform 1s ease-in;

  @media (hover: hover) {
    &:hover {
      transform: translateY(-5vh);
    }
  }

  &.boton-active {
    transform: translateY(-50vh);
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 65%;
    block-size: 35%;
    margin: 0 auto;
    transform: rotate(0deg);
    transition: transform 1s ease-out;
  }

  &__content.is-active {
    transform: rotate(65deg);
  }

  .content-linea {
    display: inline-block;
    inline-size: 100%;
    block-size: 4px;
    background-color: var(--blanco);
    border-radius: 12px;
  }

  .is-active .content-linea {
    transform: rotate(69deg);
    transition: transform 1s ease-out;
  }

  & .content-linea::before,
  & .content-linea::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    inline-size: 97%;
    block-size: 4px;
    border-radius: 12px;
    background-color: var(--blanco);
  }

  & .content-linea::after {
    top: 0;
    transform: rotate(0deg);
    transition: transform 1s ease-out;
  }

  & .content-linea::before {
    bottom: 0;
    opacity: 1;
    visibility: visible;
    transition: all 1s  ease-out;
  }

  .is-active.content-linea::before {
    opacity: 0;
    visibility: hidden;
  }

  .is-active .content-linea::after {
    transform: rotate(85deg);
  }
}
 */

/* .contenedor-habilidades {
  position: relative;

  .contenedor-habilidad {
    background-color: blue;
    block-size: 50%;
    margin: 53px 0;
    text-align: center;

    &__img {
      object-fit: cover;
    }
  }
} */

/* .circulo-habilidades {
  background-color: red;
} */

/*
.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--negro);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-out;

  &.aside-active {
    opacity: 1;
    visibility: visible;
  }
}

.nav {
  display: flex;
  align-items: center;
  block-size: 100%;
  inline-size: 100%;
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100%;
  inline-size: 100%;
  margin-block-end: 0;
  margin-block-start: 0;
  list-style-type: none;
  padding: 0;
  background-color: var(--negro);

  &__items {
    position: absolute;
    top: calc(-5em + 50vh);
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 4rem;
    block-size: 4rem;
    border: 2px solid var(--azul);
    background-color: var(--negro);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(0%, 0%);
    transition: all 1s ease-out;

    &.active-links {
      opacity: 1;
      visibility: visible;
    }

    &.active-links:nth-child(1) {
      transform: translate(-153%, -110%);
    }

    &.active-links:nth-child(2) {
      transform: translate(153%, -111%);
    }

    &.active-links:nth-child(3) {
      transform: translate(-153%, 203%);
    }

    &.active-links:nth-child(4) {
      transform: translate(153%, 202%);
    }
  }

  &__links {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  &__span {
    position: absolute;
    top: -70%;
    min-inline-size: 5rem;
    transform: translateY(1%);
    color: var(--blanco);
  }
}
 */
