body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--parrafos);
  background-color: var(--negro);
  color: var(--blanco);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header {
  min-block-size: 100vh;

  &-figure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-block-size: 68px;
    margin: 3em 2rem 0;

    &__img {
      object-fit: cover;
    }

    &__figcaption {
      min-block-size: 50px;
      max-inline-size: 1676px;
      line-height: 50px;
      text-align: right;
      font-size: var(--step-0);
    }
  }

  &-contenedor {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    min-block-size: inherit;
    inline-size: 100%;

    .hgrup {
      min-inline-size: 50%;
      text-align: center;

      &__h1 {
        font-size: var(--step-5);
      }

      &__h2 {
        font-size: var(--step-2);
      }
    }

    &-img {
      &__img {
        block-size: 20rem;
        inline-size: 20rem;
        background-color: red;
        border-radius: 50%;
      }
    }
  }
}

.section {
  min-block-size: 940px;
  margin-top: 4em;

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;

    &__h2 {
      margin-right: 1.2rem;
      font-size: var(--step-0);
    }

    &__img {
      block-size: 1.5rem;
      inline-size: 1.5rem;
    }
  }
}

.cuerpo {
  position: relative;
  min-block-size: 940px;

  .picture {
    &__img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      inline-size: 100%;
      block-size: 100%;
      z-index: -1;
    }
  }

  .contenedor-sobre-mi {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .sobre-mi {
      --negro: rgb(7 7 7 / 57.5%);

      position: relative;
      display: flex;
      place-items: center;
      max-inline-size: 720px;
      min-block-size: 482px;
      text-align: center;
      background-color: var(--negro);

      &__p {
        padding: 1em;
        line-height: 35px;
      }
    }
  }

  .contendor-enlace {
    min-inline-size: 720px;
    text-align: center;
  }
}

.enlace {
  --negro: rgb(7 7 7 / 77.4%);

  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: var(--step-0);
  padding: 2em 3em;
  color: var(--blanco);
  background-color: var(--negro);

  & span {
    position: absolute;
    display: block;
    background-color: red;
  }

  &__top {
    top: 0;
    right: 0;
    inline-size: 100%;
    block-size: 2px;
    background: linear-gradient(90deg, transparent, var(--pupura-saturado));
    transform: translateX(-101%);
  }

  &__right {
    top: 0;
    right: 0;
    inline-size: 2px;
    block-size: 100%;
    background: linear-gradient(90deg, transparent, var(--pupura-saturado));
    transform: translateY(-100%);
  }

  &__bottom {
    left: 0;
    bottom: 0;
    inline-size: 100%;
    block-size: 2px;
    background: linear-gradient(90deg, transparent, var(--pupura-saturado));
    transform: translateX(101%);
  }

  &__left {
    top: 0;
    left: 0;
    inline-size: 2px;
    block-size: 100%;
    background: linear-gradient(90deg, transparent, var(--pupura-saturado));
    transform: translateY(101%);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--pupura-saturado);
      box-shadow:
        0 0 10px var(--pupura-saturado),
        0 0 40px var(--pupura-saturado),
        0 0 80px var(--pupura-saturado);
      transition: all 1s 0.8s;
    }

    &:hover &__top {
      transform: translateX(100%);
      transition: transform 0.5s ease-out;
    }

    &:hover &__right {
      transform: translateY(100%);
      transition: transform 0.5s 0.3s ease-out;
    }

    &:hover &__bottom {
      transform: translateX(-111%);
      transition: transform 0.5s 0.5s ease-out;
    }

    &:hover &__left {
      transform: translateY(-134%);
      transition: transform 0.5s  0.7s ease-out;
    }
  }

  &.active-enlace {
    background-color: var(--pupura-saturado);
    box-shadow:
      0 0 10px var(--pupura-saturado),
      0 0 40px var(--pupura-saturado),
      0 0 80px var(--pupura-saturado);
  }
}

.bordes {
  position: absolute;
  block-size: 5px;
  transform: translate(-4px, -4px);
  background:
    linear-gradient(
      60deg,
      var(--verde-fosforesente),
      var(--azul),
      var(--pupura-saturado),
      var(--rosa),
      var(--naranja),
      var(--amarillo)
    ) 0 50%;
  background-size: 300% 300%;
  animation: grandiante 2.5s alternate infinite;
  z-index: -1;

  @keyframes grandiante {
    50% {
      background-position: 100% 50%;
    }
  }
}

.top,
.left,
.right,
.bottom {
  z-index: 1;
}

.top,
.left,
.right {
  top: 0;
}

.top {
  inline-size: 100%;
}

.left {
  left: 0;
  block-size: 100%;
  inline-size: 6px;
}

.right {
  right: -3px;
  block-size: 100%;
  inline-size: 6px;
}

.bottom {
  bottom: -3px;
  inline-size: 100%;
}

.section-exp {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.cotenedor-experiecia-tiempo {
  position: relative;
  min-inline-size: 100%;
  block-size: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__linea {
    position: absolute;
    background-color: var(--purpura);
    inline-size: 100%;
    block-size: 100%;
    border-radius: 10px;
    box-shadow:
      0 0 4px var(--purpura),
      0 0  5px var(--purpura),
      0 0  5px var(--purpura);
    transform: translateX(-100%);
    transition: transform 1s  ease-out;

    &.linea-2020-active {
      transform: translateX(-77%);
    }

    &.linea-2021-active {
      transform: translateX(-51%);
    }

    &.linea-2022-active {
      transform: translateX(0%);
    }
  }

  &__btn {
    block-size: 5rem;
    inline-size: 5rem;
    border: 2px solid var(--azul);
    color: var(--blanco);
    background-color: var(--negro);
    border-radius: 50%;
    z-index: 1;
    font-family: var(--parrafo);
    transition: background-color 1s ease-in-out;

    @media (hover: hover) {
      &:hover {
        background-color: var(--azul);
      }
    }
  }
}

.anio-2020,
.anio-2021,
.anio-2022 {
  position: absolute;
  right: 0;
  display: flex;
  place-items: center;
  padding: 1em;
  border: 1px solid var(--bordo);
  text-align: center;
  max-inline-size: 562px;
  min-block-size: 166px;
}

.anio-2020,
.anio-2021 {
  top: 12%;
}

.anio-2020 {
  left: calc(48vw - 17em);
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform  2s ease-in;

  &.anio-2020-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
}

.anio-2021 {
  left: calc(63vw - 26em);
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform  2s ease-in;

  &.anio-2021-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
}

.anio-2022 {
  bottom: 12%;
  left: calc(51vw - 19em);
  opacity: 0;
  visibility: hidden;
  transform: translateY(62%);
  transition: all 2s ease-in;

  &.anio-2022-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}

.flex {
  display: flex;
}

.contenedor-habilidades {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 822px;

  .contenedor-habilidad {
    position: absolute;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all  1s ease-out;

    &.contenedor-habi-active {
      opacity: 1;
      visibility: visible;
    }

    &__img {
      object-fit: cover;
    }

    &__h3 {
      font-size: var(--step-0);
    }
  }
}

.contenedor-cirlulo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 822px;
  overflow: hidden;

  .pre-circulo {
    position: relative;
    display: flex;
    align-items: center;
    block-size: 100%;
    min-inline-size: 100%;
    overflow: hidden;
  }

  .circulo-habilidades {
    position: absolute;
    right: calc(5vw - 25em);
    block-size: 788px;
    inline-size: 788px;
    border: 3px solid var(--azul);
    border-radius: 50%;
    animation: rota  12s infinite ease-out;
  }
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(36deg);
  }

  20% {
    transform: rotate(72deg);
  }

  30% {
    transform: rotate(108deg);
  }

  40% {
    transform: rotate(144deg);
  }

  50% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(216deg);
  }

  70% {
    transform: rotate(252deg);
  }

  80% {
    transform: rotate(288deg);
  }

  90% {
    transform: rotate(324deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.circulo-contenedor {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 5rem;
  min-inline-size: 5rem;
  border-radius: 50%;
  border: 3px solid var(--bordo);

  &__img {
    inline-size: 44%;
    block-size: 49%;
    object-fit: cover;
  }

  &:nth-child(1) {
    top: 85%;
    left: 50%;
  }

  &:nth-child(2) {
    top: 74%;
    left: 23%;
  }

  &:nth-child(3) {
    top: 50%;
    left: 7%;
  }

  &:nth-child(4) {
    top: 23%;
    right: 12%;
  }

  &:nth-child(5) {
    top: 5%;
    left: 44%;
  }

  &:nth-child(6) {
    top: 50%;
    right: 4%;
  }

  &:nth-child(7) {
    top: 22%;
    left: 12%;
  }

  &:nth-child(8) {
    top: 72%;
    right: 12%;
  }
}

.contendor-formulario {
  position: relative;
  block-size: 66rem;
  inline-size: 100%;
}

form {
  --negro: rgb(0 0 0 / 46.6%);

  position: absolute;
  left: 0;
  right: 0;
  max-inline-size: 60%;
  block-size: 85%;
  background-color: var(--negro);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 8rem;
  z-index: 2;

  & input[type="text"],
  & input[type="email"] {
    inline-size: 85%;
    block-size: 3rem;
    padding-left: 1rem;
    border: none;
    border-bottom: 2px solid var(--purpura);
    background-color: #000;
    color: var(--blanco);
  }

  & input[type="text"] {
    margin-top: 3em;
  }

  & textarea {
    inline-size: 85%;
    padding-top: 1rem;
    padding-left: 1rem;
    border: 2px solid var(--purpura);
    background-color: #000;
    resize: none;
    color: var(--blanco);
  }

  & input[type="submit"] {
    padding: 1.8em 8em;
    border: 2px solid var(--bordo);
    color: var(--blanco);

    &:hover {
      background-color: var(--bordo);
      box-shadow:
        0 2px 10px var(--bordo),
        0 2px 15px var(--bordo);
      transition: all 1s ease-in;
    }
  }
}

.mensaje-text-error,
.mensaje-email-error {
  inline-size: 85%;
  block-size: 3rem;
  background-color: var(--rojo);
  color: var(--blanco);
  text-align: center;
  line-height: 3em;
  z-index: -1;
}

.mensaje-text-error {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-266%);
  transition: all  1s ease-out;

  &-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-113%);
  }
}

.mensaje-email-error {
  opacity: 1;
  visibility: hidden;
  transform: translateY(-113%);
  transition: all  1s ease-out;

  &-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-110%);
  }
}

.form-img {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  margin-top: 3rem;
  padding: 2rem;
  border-top: 2px solid var(--purpura);

  & h3 {
    text-align: center;
  }

  & p {
    text-align: center;
    line-height: 250px;
  }
}

.footer-ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;

  & li {
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 5rem;
    inline-size: 5rem;
    border-radius: 50%;
  }

  & a img {
    object-fit: cover;
  }
}

.nav {
  position: fixed;
  bottom: 0;
  right: 0%;
  block-size: 287px;
  inline-size: 360px;
}

.menu {
  position: relative;
  block-size: 298px;
  inline-size: 368px;

  /* clip-path: circle(0% at 100% 100%);
  transition: clip-path 2s ease-in; */

  padding: 0;
  margin: 0;

  /*
  &.menu-active {
    clip-path: circle(86% at 100% 100%);
  } */

  /*  &__items {
    position: absolute;
    left: 50%;
    inline-size: 65px;
    block-size: 100%;
  } */
}

.hamburgers {
  position: fixed;
  right: 1%;
  bottom: 0;
  padding: 0.9em 1.3em;
  border: 2px solid var(--bordo);
  border-radius: 50%;
  z-index: 999;
  background-color: var(--negro);

  @media (hover: hover) {
    &:hover {
      background-color: var(--bordo);
      box-shadow:
        0 2px 10px var(--bordo),
        0 2px 15px var(--bordo);
      transition: all 1s ease-in;
    }
  }

  & .linea {
    display: block;
    inline-size: 40px;
    block-size: 3px;
    margin-block: 10px;
    border-radius: 4px;
    background-color: var(--blanco);
    transition: transform 0.5s, opacity 0.25s;
  }

  &.is-active .linea:nth-child(1) {
    transform:
      translateY(13px)
      rotate(45deg);
  }

  &.is-active .linea:nth-child(2) {
    opacity: 0;
  }

  &.is-active .linea:nth-child(3) {
    transform:
      translateY(-13px)
      rotate(-45deg);
  }
}
