/* stylelint-disable selector-class-pattern */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--parrafos);
  background-color: var(--negro);
  color: var(--blanco);
}

.header {
  position: relative;
  inline-size: 100%;
  min-block-size: 95vh;
}

.header-figure {
  display: flex;
  justify-content: space-between;
  margin: 2rem var(--margen-inline);
  font-size: var(--step-2);

  &__figcaption {
    text-align: right;
    align-self: center;
  }

  &__img {
    inline-size: 2em;
    block-size: 2.5em;
    object-fit: cover;
  }
}

.header-contenedor {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-block-size: 45em;
  margin: 0 var(--margen-inline);

  &__h1 {
    font-weight: bold;
    font-size: var(--step-4);
    font-family: var(--titulo);
  }

  &__p {
    font-size: var(--step-2-3);
  }

  .circulo {
    block-size: 250px;
    inline-size: 250px;
    background-color: red;
    border-radius: 50%;
  }
}

main {
  /* margin-inline: var(--margen-inline); */
}

.section {
  margin-top: calc(8em + 1vw);

  .section-header {
    display: flex;
    justify-content: center;

    &__h2 {
      padding-right: 1em;
      font-size: var(--step-0);
    }
  }
}

.cuerpo {
  position: relative;
  inline-size: 100%;
  block-size: 598px;
}

.picture__img {
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.contenedor-sobre-mi {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-block-size: 100%;
  z-index: 2;
}

.sobre-mi {
  --negro: rgb(8 8 8 / 70.5%);

  position: relative;
  max-inline-size: 600px;
  background-color: var(--negro);

  &__p {
    display: flex;
    place-items: center;
    min-block-size: 55%;
    line-height: 35px;
    padding: 0 1rem;
    text-align: center;
    font-size: var(--step-2-2);
  }

  .bordes {
    position: absolute;
    block-size: 5px;
    transform: translate(-4px, -4px);
    background:
      linear-gradient(
        60deg,
        var(--verde-fosforesente),
        var(--azul),
        var(--pupura-saturado),
        var(--rosa),
        var(--naranja),
        var(--amarillo)
      ) 0 50%;
    background-size: 300% 300%;
    animation: grandiante 2.5s alternate infinite;
    z-index: -1;

    @keyframes grandiante {
      50% {
        background-position: 100% 50%;
      }
    }
  }

  .top,
  .left,
  .right,
  .bottom {
    z-index: 1;
  }

  .top,
  .left,
  .right {
    top: 0;
  }

  .top {
    inline-size: 100%;
  }

  .left {
    left: 0;
    block-size: 100%;
    inline-size: 6px;
  }

  .right {
    right: -3px;
    block-size: 100%;
    inline-size: 6px;
  }

  .bottom {
    bottom: -3px;
    inline-size: 100%;
  }
}

.enlace {
  position: relative;
  display: inline-block;
  padding: 0.8em 1em;
  letter-spacing: 4px;
  overflow: hidden;
  font-size: var(--step-0);
  color: var(--blanco);
  background-color: rgb(34 30 30 / 52.7%);

  & span {
    position: absolute;
    display: block;
    background-color: red;
  }

  &__top {
    top: 0;
    inline-size: 100%;
    block-size: 2px;
    background: linear-gradient(90deg, transparent, var(--pupura-saturado));
    transform: translateX(-110%);
  }

  &__right {
    top: 0;
    right: 0;
    inline-size: 2px;
    block-size: 100%;
    background: linear-gradient(90deg, transparent, var(--pupura-saturado));
    transform: translateY(-130%);
  }

  &__bottom {
    bottom: 0;
    inline-size: 100%;
    block-size: 2px;
    background: linear-gradient(90deg, transparent, var(--pupura-saturado));
    transform: translateX(108%);
  }

  &__left {
    left: 0;
    inline-size: 2px;
    block-size: 100%;
    background: linear-gradient(90deg, transparent, var(--pupura-saturado));
    transform: translateY(100%);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--pupura-saturado);
      box-shadow:
        0 0 10px var(--pupura-saturado),
        0 0 40px var(--pupura-saturado),
        0 0 80px var(--pupura-saturado);
      transition: all 1s 0.8s;
    }

    &:hover &__top {
      transform: translateX(100%);
      transition: transform 0.5s ease-out;
    }

    &:hover &__right {
      transform: translateY(100%);
      transition: transform 0.5s 0.3s ease-out;
    }

    &:hover &__bottom {
      transform: translateX(-111%);
      transition: transform 0.5s 0.5s ease-out;
    }

    &:hover &__left {
      transform: translateY(-128%);
      transition: transform 0.5s  0.7s ease-out;
    }
  }
}

.section-footer {
  block-size: 100%;

  &__linea {
    block-size: 2em;
    min-inline-size: 100%;
    border-radius: 10px;
    background-color: var(--purpura);
  }
}
