/* stylelint-disable selector-class-pattern */
@media screen and (min-width: 70em) {
  .header-contenedor {
    justify-content: space-between;
    text-align: left;

    .circulo {
      margin-top: 2em;
    }
  }

  .section {
    .section-header {
      display: flex;
      justify-content: flex-start;
    }
  }

  .contenedor-sobre-mi {
    justify-content: space-around;

    .sobre-mi {
      &__p {
        text-align: left;
      }
    }
  }

  .picture {
    max-inline-size: 48%;
  }
}
