html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
